<div class="center jumbotron">
	<% if logged_in? %>
	<h1>Welcome, <%= current_user.username %>!</h1>
	<% if current_user.role.id == 2 %>
		<h2><%= link_to "Let check your project status.", works_path %></h2>
		<% end %>
		<% if current_user.role.id == 1 %>
		<h2><%= link_to "Let find some job for ya.", search_works_path %></h2>
		<% end %>

<% else %>
  <h1>Welcome to Freelancer Website</h1>

  

  <%= link_to "Join us now!", '/signup', class: "btn btn-lg btn-primary" %>

<% end %>
</div>