<h2>Chose your skill</h2>
<% Category.all.each do |category| %>
  <%= category.name %>
  <% unless @user.nil? %>
    <%= check_box_tag 'category_ids[]', category.id , class: 'form-control' %>
    <%else %>
      <%= check_box_tag 'category_ids[]', category.id , false, class: 'form-control' %>
      <%end %>
    <% end %>