// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="checkbox"]{
    width:20px
}
input[type="radio"]{
    width:20px;
}
input[type="submit"]{
    width:200px;
    margin-top: 20px;
}
.user_info img{
    margin-bottom: 10px
}
